.location-outer {
  display: flex;
  align-items: center;
  cursor: pointer;
  .location-icon {
    margin: 0 10px;
    #path-2 {
      stroke: var(--color-background-oposite);
    }
    @media (max-width: 1024px) {
      order: 1;
    }
  }
  .location-city {
    font-size: 16px;
    color: var(--color-heading);
  }
}
