.form {
  position: relative;
  width: 100%;
  margin-right: 8px;
  height: 40px;
}

.search {
  position: absolute;
  top: 50%;
  left: 8;
  transform: translateY(-50%);
  margin: 0 8px;
  #path-1 {
    stroke: var(--color-background-oposite);
  }
  #path-2 {
    fill: var(--color-background-oposite);
  }
}

.input {
  height: 40px;
  border-radius: 12px;
  padding: 8px 0px 8px 36px;
  min-width: 200px;
  width: 100%;
  border: none;
  font-size: 16px;
  outline: 1px solid var(--color-border-hover);
  background-color: var(--color-background);
  color: var(--color-heading);
  @media (max-width: 1080px) {
    min-width: 0;
  }
  &:focus {
    outline: 1px solid var(--primary);
  }
  ::placeholder {
    color: red;
  }
}

.arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 2px;
  margin-right: 8px;
  transform: translateY(-50%);
  #path-1 {
    stroke: var(--color-background-oposite);
  }
}
