.location-outer {
  display: flex;
  align-items: center;
  cursor: pointer;

  .location-icon {
    margin: 0 10px;
    #path-2 {
      stroke: var(--color-background-oposite);
    }
    @media (max-width: 1024px) {
      order: 1;
    }
  }
  .city {
    font-size: 16px;
    color: var(--color-heading);
  }
}

.notification-outer {
  display: inline-flex;
  align-items: center;
  cursor: pointer;

  .notification-inner {
    display: inline-flex;
    position: relative;
  }
  .notification-inner::after {
    content: '';
    position: absolute;
    top: -5px;
    right: 2px;
    width: 8px;
    height: 8px;
    background-color: var(--primary);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 10px;
  }

  .bell-icon {
    margin-right: 10px;
    #path-1 {
      stroke: var(--color-background-oposite);
    }
  }
}

.slider-container {
  position: fixed;
  top: 0;
  right: -40vw;
  width: 40vw;
  height: 100vh;
  border-left: 1px solid var(--color-background-oposite);
  background-color: var(--color-background-mute);
  transition: transform 0.5s ease;
  z-index: 1000;
  @media (max-width: 1024px) {
    right: -70vw;
    width: 70vw;
  }
}

.slider-container.open {
  transform: translateX(-100%);
}

.animation-container {
  display: flex;
  position: relative;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.animation-exit {
  display: flex;
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;
  background-color: var(--color-background-oposite);
  border-radius: 50%;
  padding: 4px;
  #path-1 {
    fill: var(--color-background);
  }
}

.animation-bell {
  background-color: var(--color-background-oposite);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  margin-bottom: 16px;
  #path-1 {
    stroke: var(--color-background-mute);
  }
}

.notifications {
  font-size: 16px;
  color: var(--color-background-oposite);
}

.bg {
  position: fixed;
  width: 100vw;
  left: 0;
  top: 0;
  height: 100vh;
  background-color: rgba(20, 22, 27, 0.5);
  animation: fadeIn 0.5s forwards;
  z-index: 100;
}

@keyframes slideIn {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes slideOut {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes fadeIn {
  0% {
    visibility: hidden;
    opacity: 0;
  }

  100% {
    visibility: visible;
    opacity: 1;
  }
}
