.ads-container {
  ul {
    display: flex;
    justify-content: space-between;

    gap: 16px;
    margin: 20px 0;
    padding: 0;
    list-style: none;
    overflow-x: scroll;
    overflow-y: hidden;
    // scroll-snap-type: x mandatory;
    &::-webkit-scrollbar {
      width: 8px;
      height: 8px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--color-border);
      border-radius: 10px;
    }

    // display: grid;
    // grid-template-columns: repeat(4, minmax(0, 1fr));

    // @media (max-width: 1080px) and (min-width: 900px) {
    //   grid-template-columns: repeat(3, minmax(0, 1fr));
    // }

    // @media (max-width: 900px) and (min-width: 768px) {
    //   grid-template-columns: repeat(2, minmax(0, 1fr));
    // }

    // @media (max-width: 768px) {
    //   grid-template-columns: 1fr;
    // }

    li {
      position: relative;
      list-style-type: none;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
      border-bottom-left-radius: 12px;
      border-bottom-right-radius: 12px;
      background-color: var(--color-background-mute);
      img {
        // width: 100%;
        // height: auto;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
      }
      .ads-info-inner {
        padding: 16px;
        h3 {
          font-size: 1.25rem;
          color: var(--color-heading);
          margin-bottom: 8px;
          margin-right: 8px;
        }
        p {
          font-size: 1rem;
          color: var(--color-text);
          margin-bottom: 8px;
        }
        .ads-title {
          display: flex;
          justify-content: space-between;

          svg {
            cursor: pointer;
            #path-1 {
              stroke: var(--color-background-oposite);
            }
            #path-2 {
              stroke: var(--primary);
              fill: var(--primary);
            }
          }
        }
      }
    }
  }
}
