.outer {
  width: 100%;
  padding: 10px 20px;
}

.inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1280px;
  @media (max-width: 1024px) {
    flex-direction: column;
    .nav-one {
      order: 1;
      margin-top: 10px;
    }
    .nav-two {
      display: flex;
    }
  }
}

.nav-one {
  display: flex;
  flex: 0;
  .logo {
    flex: 0;
    padding-right: 8px;
    display: block;
    @media (max-width: 1024px) {
      display: none;
    }
  }
}

.nav-two {
  display: flex;
  flex: 1;
  align-items: center;

  .left {
    display: flex;
    flex: 1;
    justify-content: space-between;

    .logo-mobile {
      display: none;
      @media (max-width: 1024px) {
        display: flex;
        padding-right: 8px;
      }
    }
    .location {
      display: flex;
      align-items: center;
      .icon {
        margin: 0 10px;
        #path-2 {
          stroke: var(--color-background-oposite);
        }
        @media (max-width: 1024px) {
          order: 1;
        }
      }
      .city {
        font-size: 16px;
        color: var(--color-heading);
      }
    }
  }
  .right {
    display: flex;
    align-items: center;
    .sun,
    .moon {
      margin-right: 10px;
      #path-2 {
        stroke: var(--color-background-oposite);
      }
    }

    button {
      padding: 8px 16px;
      border-radius: 12px;
      background-color: var(--primary);
      color: var(--black-soft);
      border: none;
      cursor: pointer;
    }
  }
}
