.go-back-wrapper {
  margin-top: 16px;
  display: flex;

  .go-back {
    display: flex;
    width: auto;
    align-items: center;
    cursor: pointer;
    .icon {
      margin-right: 8px;
      transform: rotate(180deg);
    }
  }
  @media (max-width: 1024px) {
    justify-content: flex-end;
  }
}
