.go-back {
  display: inline-flex;
  align-items: center;
  width: auto;
  cursor: pointer;
  margin-top: 16px;
  @media (max-width: 1024px) {
    display: flex;
    justify-content: flex-end;
  }
  .icon {
    margin-right: 8px;
    transform: rotate(180deg);
  }
}
