.rent-or-sell {
  padding: 0 20px;
  max-width: 800px;
  margin: 0 auto;
  .rent-or-sell-title {
    font-size: 24px;
    margin-top: 44px;
    text-align: center;
    @media (max-width: 1024px) {
      margin-top: 24px;
    }
  }
  .rent-or-sell-options {
    display: flex;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 20px;
    gap: 20px;

    .rent-or-sell-item {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .rent-or-sell-svg {
      margin: 10px;
      width: 180px;
      height: 150px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border: 1px solid var(--primary);
      cursor: pointer;
      &:hover {
        background-color: var(--primary);
      }
      @media (max-width: 768px) {
        width: 140px;
        height: 120px;
      }
      @media (max-width: 480px) {
        width: 120px;
        height: 100px;
      }
    }
  }
  .rent-options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    align-items: center;
    margin: 20px auto 0;
    gap: 20px;
    .rent-option {
      display: flex;
      flex-direction: row;
      align-items: center;
      border: 1px solid var(--color-border-hover);
      cursor: pointer;
      padding: 10px;
      height: 70px;
      &:hover {
        background-color: var(--color-border);
      }
      p {
        font-size: 20px;
        font-weight: 500;
        cursor: pointer;
        padding-left: 10px;
        color: var(--color-heading);
      }
      @media (max-width: 768px) {
      outline: 1px solid red;

        padding: 4px;
        height: 50px;
      }
      .rent-option-svg {
        cursor: pointer;
        @media (max-width: 768px) {
          width: 70px;
          height: 40px;
        }
      }
    }
  }
}
