@import './base.scss';

#app {
  width: 100%;
}

a {
  text-decoration: none;
  color: transparent;
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: transparent;
  }
}
